@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --background:#FBFCFD;
  --navbg:#212731;
  --navtxt:#D1D6DA;
  --heading:#2C384A;
  --text:#4B5665;
  --link:#1B88F4;
  --tag:#FF7724;
  --footertxt:#B6BDC4;
  --dropdown:#D1D6DA;
  --subheading:#5C6874;
  --cardtag:#074786;
  --cardtagbg:#F2F4F7;
  --carddiscount:#EF4C5D;
  --cardoriginalPrice:#9FA9B3;
  --separator:#E1E4E6;
  --relevant:#727D87;
  --ratingbox:#F3F9FF;
  --ratingstar:#ffb80f;
  --counttxt:#626E79;
}
body{
   min-width: fit-content !important;
  overflow-x: hidden;
}
